/* FONT */
/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Code+Pro&display=swap");

/* VARIABLE */
:root {
    --header-height: 3rem;

    --hue-color: 210;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --footer-color: hsl(var(--hue-color), 69%, 22%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --title-color-lighter: hsl(var(--hue-color), 18%, 41%);
    --shadow-color: hsl(var(--hue-color), 11%, 37%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --opacity: .5;

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-5: 5rem;

    --z-fixed: 100;
    --z-cv: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* DARK MODE */
body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --footer-color: hsl(var(--hue-color), 69%, 92%);
    --shadow-color: hsl(var(--hue-color), 41%, 10%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --opacity: 1;
}

.nav_btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 2rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/* ELEMENTS UNIVERSELS */
* {
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

html, body {
    height: 100%;
    width: 100%;
  }

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-5);
    text-align: center;
}

.section_title-cv {
    margin-bottom: 2rem;
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    text-align: center;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: var(--mb-1-5);
}

/* BARRE DE NAVIGATION */
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-family: 'Source Code Pro', monospace;
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav_toggle:hover{
    color: var(--first-color);
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_menu {
    margin-right: 10rem;
}

.nav_item {
    margin-left: 3rem;
}

/* BARRE DE NAVIGATION MOBILE */
@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: .1rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    .nav_menu .nav_item {
        margin-left: 0;
    }

    .nav_menu .nav_link_title{
        display:none
    }

    .skills_logo {
        display: none;
    }
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_logo-icon {
    font-size: 1.6rem;
    color: var(--first-color);
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 3rem;
}

.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: var(--mb-0-5);
    font-size: var(--h1-font-size);
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}

/* MAIN */
.home {
    height: 92vh;
    display: grid;
    justify-content: flex-start;
    margin-left: 1rem;
}

/* PRESENTATION */
.home_content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.bg_icon {
    width: 1000px;
    height: 47px;
    border-radius: var(--mb-0-5);
    display: inline-block;
    background-size: 200% 200%;
    transition: 1s;
    padding-left: 60rem;
    margin-left: -61rem;
}

.to-left {
    background-image: linear-gradient(to left, var(--body-color) 50%, var(--first-color) 0%);
    background-position: left;
}

.to-left:hover {
    background-position: right;
}

.to-left:hover  .home_social-icon {
    color: var(--first-color);
}

.home_social-icon {
    font-size: 2rem;
    color: var(--body-color);
}

.home_social-icon:hover {
    color: var(--first-color);
}

.home_title {
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--title-color);
}

.home_title-js {
    color: var(--first-color);
}

/* BOUTON */
.button {
    background-color: var(--first-color);
    color: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: var(--mb-0-5);
    font-weight: var(--font-medium);
    margin-left: 5.2rem;
    margin-top: 2rem;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button_icon {
    font-size: 1.25rem;
    transition: .3s;
    margin-left: var(--mb-0-5);
}

.button-flex {
    display: inline-flex;
    align-items: center;
}

.button-small {
    padding: .75rem 1rem;
}

.button-link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button-link:hover {
    background-color: transparent;
    color: var(--first-color-alt);

}

.button-hero {
    margin-left: 9.2rem;
}

.button_cv {
    display: flex;
    justify-content: center;
    margin-right: 4rem;
    padding-bottom: 4rem;
}

.button-contact {
    margin-left: 8rem;
}

/* A PROPOS */
.about {
    margin-top: 5rem;
}
.about_img {
    width: 300px;
    border-radius: var(--mb-0-5);
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 50px var(--shadow-color);
}

.about_description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about_buttons {
    display: flex;
    justify-content: center;
}

/* COMPETENCES */
.skills_container {
    row-gap: 0;
}

.skills_header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-1);
    cursor: pointer;
}

.skills_icon,
.skills_arrow {
    font-size: var(--big-font-size);
    color: var(--first-color);
}

.skills_icon {
    margin-right: var(--mb-0-75);
}

.skills_title {
    font-size: var(--h3-font-size);
}

.skills_subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills_arrow {
    margin-left: auto;
    transition: .4s;
}

.skills_list {
    row-gap: var(--mb-1-5);
    padding-left: 2.7rem;
}

.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name {
     font-size: var(--normal-font-size);
     font-weight: var(--font-medium);
     font-family: 'Source Code Pro', monospace;
}

.skills_logo {
    width: 35px;
    height: 35px;
    opacity: var(--opacity);
}

.skills_bar,
.skills_percentage{
     height: 5px;
     border-radius: .25rem;
}

.skills_bar {
     background-color: var(--first-color-lighter);
}

.skills_percentage {
     display: block;
     background-color: var(--first-color);
}

.skills_html {
     width: 90%;
}

.skills_css {
     width: 80%;
}

.skills_sass {
     width: 50%;
}

.skills_js {
    width: 75%;
}

.skills_php {
     width: 70%;
}

.skills_symfony {
     width: 75%;
}

.skills_mysql {
    width: 60%;
}

.skills_ruby {
     width: 50%;
}

.skills_figma {
    width: 50%;
}

.skills_photoshop {
     width: 75%;
}

.skills_aftereffects {
    width: 60%;
}

.skills_git {
    width: 65%;
}

.skills_terminal {
    width: 75%;
}

.skills_mac {
    width: 85%;
}

.skills_close .skills_list {
    height: 0;
    overflow: hidden;
}

.skills_open .skills_list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills_open .skills_arrow {
    transform: rotate(-180deg);
}

/* CURRICULUM VITÆ */
.cv_tabs {
    display: flex;
    justify-content: space-evenly;
}

.cv_category {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    padding: 0 3rem 0 1rem;
}

.cv_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.cv_sections{
    margin-top: var(--mb-5);
}

.cv_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: var(--mb-1-5);
}

.cv_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.cv_subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.cv_calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.cv_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.cv_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.services_button {
    cursor: pointer;
}

.cv_detail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-cv);
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}

.cv_detail-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.cv_detail-services {
    row-gap: 1rem;
}

.cv_detail-service {
    display: flex;
}

.cv_detail-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
    text-align: center;
}

.cv_detail-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.cv_detail-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

.active-cv {
    opacity: 1;
    visibility: visible;
}

/* CONTACT */
.contact_container {
    row-gap: 3rem;
}

.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon {
    font-size: var(--big-font-size);
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    text-decoration: none;
}

.contact_content {
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact_label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact_input {
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/* FOOTER */
.footer {
    padding-top: var(--mb-2);
    padding-bottom: var(--mb-3);
}

.footer_container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.footer_title {
    font-family: 'Source Code Pro', monospace;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
    font-family: 'Source Code Pro', monospace;
    font-size: var(--small-font-size);
}

.footer_social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer_social:hover {
    color: var(--first-color-lighter);
}

.footer_title,
.footer_subtitle,
.footer_social {
    color: var(--footer-color);
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/* RESPONSIVE */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav_menu {
        padding: 2rem .25rem 4rem;
    }

    .nav_list {
        column-gap: 0;
    }

    .home_content {
        grid-template-columns: .25fr 3fr;
    }

    .home_data .button {
        margin-left: 6rem;
    }

    .skills_title {
        font-size: var(--normal-font-size);
    }

    .skills_logo {
        display: none;
    }

    .cv_data {
        gap: var(--mb-0-5);
    }
}

@media screen and (min-width: 568px) {

    .home_data {
        grid-column: initial;
    }

    .home_img {
        order: 1;
        justify-self: center;
    }

    .about_container,
    .skills_container,
    .contact_container,
    .footer_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .cv_sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .footer_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_bg {
        padding: .5rem 0 .5rem;
    }

    .footer_socials {
        justify-self: flex-end;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section_subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer_container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle{
        display: none;
    }

    .nav_list {
        display: flex;
        column-gap: var(--mb-2);
    }

    .nav_menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .home {
        margin-left: 10rem;
    }

    .home_container {
        row-gap: 5rem;
    }

    .home_content {
        padding-top: 4.2rem;
        column-gap: var(--mb-2);
    }

    .home_title {
        font-size: 4rem;
        margin-left: 10rem;
    }

    .about_container {
        column-gap: 5rem;
    }

    .about_img {
        width: 350px;
    }

    .about_description {
        text-align: initial;
    }

    .about_info {
        justify-content: space-between;
    }

    .about_buttons {
        justify-content: initial;
    }

    .cv_tabs {
        justify-content: center;
    }

    .cv_category {
        margin: 0 var(--mb-1);
    }

    .cv_sections{
        grid-template-columns: .5fr;
    }

    .footer_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_bg {
        padding: .5rem 0 .5rem;
    }

    .footer_socials {
        justify-self: flex-end;
    }
}